[user]
  name = Ryan Houston
  email = ryanhouston83@gmail.com
[help]
  autocorrect = 1
[init]
  templatedir = ~/.git_template
[push]
  default = current
[alias]
  ctags = !.git/hooks/ctags
  co = checkout
  to-deploy = log origin/master..origin/develop --oneline --merges
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pp = pull --prune
[core]
  pager = "less -rFX"
[merge]
  tool = diffconflicts
[mergetool "diffconflicts"]
  cmd = diffconflicts nvim $BASE $LOCAL $REMOTE $MERGED
  trustExitCode = true
  keepBackup = false
[diff]
  tool = nvim -d
[difftool]
	prompt = false
[github]
  user = ryanhouston
[heroku]
  account = personal
[web]
  browser = chromium
